.tabButtons {
    display: flex;
    align-items: center;
    height: 3rem;
    gap: 1rem;
}
.buttonActive {
    background-color: var(--color-primary-light);
    color: var(--background);
}

.informationContent, .ownerSection {
  box-shadow: 0 0 8px 8px rgba(68, 68, 68, 0.04);
  border-radius: 14px;
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-weight: bolder;
  font-size: 0.9rem;
}

.informationContent .header, .ownerSection div {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.ownerSection h2 strong {
    color : var(--color-primary);
}

.informationContent .header img {
  width: 1.4rem;
  height: 1.4rem;
}

.informationContent .infoRow {
  display: flex;
  justify-content: space-between; /* genre à gauche, date à droite */
  align-items: center;
}

.informationContent .date {
  color: var(--color-grey);
  font-weight: 200;
}