.animalDetails h1 { 
        padding: 0rem 2rem 1rem 2rem;
        text-align: center;
        & strong {
                color: var(--color-primary)    
        }
}
.pictureWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}
@media (min-width: 768px) {

  .animalDetailsContent {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  .pictureWrapper {
        width: 50%; 
        max-width: 350px;  }

}